BODY
{
	background-color: #EEE;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    .header {
        margin-bottom: 30px;
    }
}

a { color: #6F0000; cursor: pointer; }
p { margin-bottom: 16px; }
table { font-size: 0.8em; }
table .btn { font-size: 0.8em; }

.header h3 { padding-top: 7px; }
.jumbotron { background-color: #8cbf26; }
.signon { margin-top: 16px;}
.signon input[type=submit] { margin-bottom: 20px;}
.pager { background-color: #8cbf26; -webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px; margin-bottom: 0; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { background-color: #ff0097; }
.footer { padding-top: 10px;font-size: 8pt; color: #777; border-top: 1px solid #e5e5e5;margin-top: 25px; }

.overflow { -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; display: block; white-space: nowrap; }

#registrationBand { padding: 0 20px 10px;font-size: 0.8em; -webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-bottomleft: 15px;
-moz-border-radius-bottomright: 15px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px; margin-bottom: 10px; }
    
td { vertical-align: baseline; }                                     
table.registrationTable { margin-bottom: 0; }
td.registrationDateColumn { width: 75px; }
td.registrationProjectColumn { width: 150px; }
td.registrationTaskColumn { width: auto; }
td.registrationCommentColumn { width: 130px; }
td.registrationHoursColumn { width: 50px; }
td.allocationProjectColumn { width: 225px; }
td.allocationTaskColumn { width: auto; }
td.actionColumn { width: 70px; }


/* https://skydrive.live.com/view.aspx?resid=40CFFDE85F1AB56A!1284 - Slide 55*/
.red { background-color: #E51400; color: #FFF; }
.magenta { background-color: #a200ff; color: #FFF; }
/* .green { background-color: #339933; }*/
.blue { background-color: #1bA1e2; color: #FFF; }
.purple { background-color: #ff0097; color: #FFF; }
.teal { background-color: #00aba9; color: #FFF; }
.lime { background-color: #8cbf26; color: #FFF; }
.brown { background-color: #a05000; }
.pink { background-color: #e671b8; color: #FFF; }
.orange { background-color: #f09609; }
.grey { background-color: #f5f5f5;color: #000; }
.white { background-color: #FFF; }
.green { background-color: #284B44; color: #FFF; }
.transparent { opacity: 0.3; }
