@{
    ViewBag.Title = "Track time";
}

<div ng-controller="DashboardCtrl">

    <div class="row">
        <div class="col-lg-12">
            <ul class="pager">
                <li class="previous">
                    <a ng-click="previousDate()">&lt;</a>
                </li>
                <li>
                    <span class="text-center">
                        Registrations from {{selectedDate | easyDate }}
                    </span>
                </li>
                <li class="next">
                    <a ng-click="nextDate()">&gt;</a>
                </li>
            </ul>
            <table class="table table-bordered white registrationTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Project</th>
                        <th>Task</th>
                        <th>Comment</th>
                        <th>Hours</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in registrations">
                        <td class="registrationDateColumn" title="{{item.Date | date:'dd-MM-yyyy'}}">{{item.Date | date:'dd-MM-yyyy'}}</td>
                        <td class="registrationProjectColumn" title="{{item.ProjectName}}">{{item.ProjectName}}</td>
                        <td class="registrationTaskColumn" title="{{item.TaskName}}">{{item.TaskName}}</td>
                        <td class="registrationCommentColumn" title="{{item.Comment}}">{{item.Comment}}</td>
                        <td class="registrationHoursColumn" title="{{item.Hours | number:2}}">{{item.Hours | number:2}}</td>
                        <td class="actionColumn"><button class="btn" ng-show="item.TaskName.length > 0" data-id="{{item.Id}}" ng-click="selectRegistrationClick($event)">Delete</button></td>
                    </tr>
                    <tr>
                        <td class="registrationDateColumn">&nbsp;</td>
                        <td class="registrationProjectColumn">Total</td>
                        <td class="registrationTaskColumn">&nbsp;</td>
                        <td class="registrationCommentColumn">&nbsp;</td>
                        <td class="registrationHoursColumn">{{registrationsTotal | number:2}}</td>
                        <td class="actionColumn">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-12">
            <ul class="pager">
                <li>
                    <span>
                        Search: <input type="text" id="query" ng-change="filterChange()" ng-model="query" />
                    </span>
                </li>
            </ul>

            <form role="form" id="registrationBand" class="grey">
                <div class="form-group">
                    <label title="{{selectedTask}}">{{selectedTask}}</label>
                </div>
                <div class="form-group">
                    <label>Hours:</label>
                    <input class="form-control" type="text" ng-model="registrationHours" pattern="[0-9]" id="registrationHours" />
                </div>
                <div class="form-group">
                    <label>Comment:</label>
                    <input class="form-control" type="text" ng-model="registrationText" id="registrationText" />
                </div>
                <button class="btn purple" id="buttonSave" ng-click="insertRegistration()">Save</button>
            </form>

            <table class="table table-bordered white" id="taskList">
                <thead>
                    <tr>
                        <th class="allocationProjectColumn">Project</th>
                        <th class="allocationTaskColumn">Task</th>
                        <th>&nbsp;</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr ng-repeat="item in filteredTasks = (tasks | filter:query | limitTo: 10)">
                        <td class="allocationProjectColumn" title="{{item.ProjectName}}">{{item.ProjectName}}</td>
                        <td class="allocationTaskColumn" title="{{item.Name}}">{{item.Name}}</td>
                        <td class="actionColumn"><button class="btn" ng-click="selectTaskClick($event)">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
