@{
    ViewBag.Title = "Track time";
}

<div ng-controller="DashboardCtrl">
    <div class="contentband"><a ng-click="previousDate()">&lt;</a> {{selectedDate | date:'dd-MM-yyyy' }} <a ng-click="nextDate()">&gt;</a></div>
    <h2>Registrations</h2>
    <table id="registrations">
        <tr>
            <th class="gridCol-01a">Date</th>
            <th class="gridCol-02">Project</th>
            <th class="gridCol-04">Task</th>
            <th>Hours</th>
        </tr>
        <tr ng-repeat="item in registrations">
            <td><span class="gridCol-01a" title="{{item.Date | date:'dd-MM-yyyy'}}">{{item.Date | date:'dd-MM-yyyy'}}</span></td>
            <td><span class="gridCol-02" title="{{item.ProjectName}}">{{item.ProjectName}}</span></td>
            <td><span class="gridCol-04" title="{{item.TaskName}}">{{item.TaskName}}</span></td>
            <td>{{item.Hours | number:2}}</td>
        </tr>
        <tfoot>
            <tr>
                <td></td>
                <td>Total</td>
                <td></td>
                <td>{{registrationsTotal | number:2}}</td>
            </tr>
        </tfoot>
    </table>

    <h2>Tasks</h2>
    <p>Search: <input type="text" id="query" ng-change="filterChange()" ng-model="query" /></p>
    <div class="contentband" id="registrationBand">
        <label class="overflow gridCol-04 posLeft" title="{{selectedTask}}">{{selectedTask}}</label>: 
        <input type="text" ng-model="registrationHours" id="registrationHours" class="gridCol-01" /> hours - 
        <input type="text" ng-model="registrationText" id="registrationText" class="gridCol-02" /></div>
    <table id="tasks">
        <tr>
            <th class="gridCol-01a">Favorite</th>
            <th class="gridCol-02">Project</th>
            <th class="gridCol-04">Task</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in tasks | filter:query | limitTo: 10">
            <td></td>
            <td><span class="gridCol-02" title="{{item.ProjectName}}">{{item.ProjectName}}</span></td>
            <td><span class="gridCol-04" title="{{item.Name}}">{{item.Name}}</span></td>
            <td></td>
        </tr>
    </table>


</div>